@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Bricolage+Grotesque:opsz@10..48&family=Dancing+Script:wght@700&family=Gluten:wght@300&family=Merriweather&family=Montserrat&family=Noto+Serif:wght@300;400&family=Roboto+Slab:wght@300&family=Sedgwick+Ave+Display&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.image{
  padding-top:5%;
  width:100%;
  height:100%;
}
.title{
  font-family:'Montserrat, sans-serif';
  text-align:center;
}
.txt{
  padding:34px;
  text-align:center;
  color:brown;
  font-size:1.3rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.fs{
  align-items: center;
  padding:23px;
}
.card{
  padding:14px;
  width:100%;
  height:34%;
  text-align:center;
  

}
#first_div{
  text-align:center;
  max-width:67px;
  padding:34px;
}
input{
  text-align:center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width:50%;
}
#state{
  width:50%;
  text-align:center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text{
  padding:34px;
  text-align:center;;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:large;
  padding-bottom:23px;
}
.reach{
  padding:56px;
  align-items:center;
  justify-content: center;
  text-align:center;
}